<?xml version="1.0" encoding="utf-8"?>
<!-- The RoslynSonarQubePluginGenerator will look for a NuGet.config file in the same
  directory as the exe. It will also look in the following user- and machine-wide locations:
  * %AppData%\NuGet
  * %ProgramData%\NuGet\Config
  * %ProgramData%\NuGet\Config\SonarQube

  A NuGet feed can be a local folder on disk. See http://docs.nuget.org/docs/creating-packages/hosting-your-own-nuget-feeds
  If you have created an analyzer on your local machine you can generate a jar file for it by
  specifying a package source that points at the directory containing the the .nupkg file 
  created by the standard Roslyn templates.
-->
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="localFeed" value="C:\LocalNuGetFeed" />
  </packageSources>
</configuration>