<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net48\publish\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>
  </PropertyGroup>
  <Target Name="ZipPublishOutput" BeforeTargets="Publish">
    <ItemGroup>
      <ThirdPartyLicenceFiles Include="$(ProjectDir)\..\Licenses\THIRD_PARTY_LICENSES\*.txt"/>
    </ItemGroup>
    <Copy SourceFiles="$(ProjectDir)\..\LICENSE.txt" DestinationFolder="$(PublishDir)\licenses" />
    <Copy SourceFiles="@(ThirdPartyLicenceFiles)" DestinationFolder="$(PublishDir)\licenses\THIRD_PARTY_LICENSES\%(RecursiveDir)" />
    <ZipDirectory SourceDirectory="$(PublishDir)" DestinationFile="$(PublishDir)\..\publish.zip" Overwrite="true" />
    <Message Importance="high" Text="Created $(PublishDir)\..\publish.zip including licence files." />
  </Target>
</Project>